<!DOCTYPE html>
<html lang="en">

<!--Copied from cosmicAC's Blog-->

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">


<script src="/js/jquery.min.js"></script>

<!-- MathJax -->
<script type="text/javascript">
let isMathjaxConfig = false; // 防止重复调用Config，造成性能损耗

const initMathjaxConfig = () => {
  if (!window.MathJax) {
    return;
  }
  window.MathJax.Hub.Config({
    showProcessingMessages: false, //关闭js加载过程信息
    messageStyle: "none", //不显示信息
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [["$", "$"], ["\\(", "\\)"]], //行内公式选择符
      displayMath: [["$$", "$$"], ["\\[", "\\]"]], //段内公式选择符
      skipTags: ["script", "noscript", "style", "textarea", "pre", "code", "a"] //避开某些标签
    },
    "HTML-CSS": {
      availableFonts: ["STIX", "TeX"], //可选字体
    }
  });
  isMathjaxConfig = true;
};
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML"></script>

<!-- prismjs代码高亮 -->
<link href="/css/prism.css" rel="stylesheet" />
<script src="/js/prism.js"></script>


    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->


<script>
if (isMathjaxConfig === false) { // 如果：没有配置MathJax
  initMathjaxConfig();
}

// 如果，不传入第三个参数，则渲染整个document
// 因为使用的Vuejs，所以指明#app，以提高速度
if(window.MathJax) window.MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>

<script>
  $('pre').addClass("line-numbers");//.css("white-space", "pre-wrap");
</script>
</body>

</html>